@import "../../style.scss";
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid rgb(199, 194, 194);
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;
    gap: 20px;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      a {  // targets Link component
        text-decoration: none;
        color: inherit;
        
        &:hover {
          opacity: 0.8; /* Subtle hover effect */
        }
  
        span {
          // span styles inside Link
        }
      }

      .logo-link {
        font-weight: 100;
        font-style: normal;
        font-size: 25px;
        font-family: "Boldonse", system-ui;
        // background: linear-gradient(135deg, #4a0080, #a3008c, #e91e63);
        
        background: radial-gradient(circle at center, #ce6bf3, #bd34d8,#8b18a2);
        -webkit-background-clip: text;  // for webkit browsers
        background-clip: text;
        color: transparent; 
        letter-spacing: 0.04em;
        // color: themed("logo");
      }

      
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile{
        display: none;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px 10px;
        position: relative;

        form {
          display: flex;
          align-items: center;
          width: 100%;
        }

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          padding: 8px;
          flex: 1;
          font-size: 14px;

          &:focus {
            outline: none;
          }

          @include mobile{
            display: none;
          }

          @include tablet{
            width: 200px;
          }
        }

        .clear-search {
          cursor: pointer;
          font-size: 18px;
          color: themed("textColorSoft");
          transition: color 0.2s;

          &:hover {
            color: themed("textColor");
          }
        }

        .search-results-container {
          position: absolute;
          top: calc(100% + 5px);
          left: 0;
          width: 100%;
          z-index: 1000;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;

        @include tablet{
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        
      }
    }
  }
}