@import "../../style.scss";
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px ;
    padding-bottom: 10px;
    height: 50px;
    border-bottom: 1px solid rgb(199, 194, 194);
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;
    gap: 20px;
  
    

    @include mobile {
      padding: 10px;
      width: 146vw;
    }
    @include tablet {
      padding: 10px;
      width: 146vw;
    }

    .leftPart {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile {
        gap: 15px; /* Reduced gap for mobile */
        // flex: 0 1 auto; /* Allow shrinking if needed */
      }

      a {  
        text-decoration: none;
        color: inherit;
        
        &:hover {
          opacity: 0.8;
        }

        
  
        span {
          // span styles inside Link
        }
      }
      svg {
        @include mobile {
          font-size: 20px; /* Smaller icons on mobile */
        }
      }

      .logo-link {
        font-weight: 100;
        font-style: normal;
        font-size: 25px;
        font-family: "Boldonse", system-ui;
        background: radial-gradient(circle at center, #ce6bf3, #bd34d8,#8b18a2);
        -webkit-background-clip: text;  // for webkit browsers
        background-clip: text;
        color: transparent; 
        letter-spacing: 0.04em;

        @include mobile {
          font-size: 22px;
        }
       
      }

    }

    .rightPart {
      display: flex;
      align-items: center;
      // gap: 20px;
      background-color: themed("bg"); 

      @include mobile{
        gap: 10px;
        // flex: 0 0 auto; 
      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px 10px;
        position: relative;

        form {
          display: flex;
          align-items: center;
          width: 100%;
        }

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          padding: 8px;
          flex: 1;
          font-size: 14px;

          @include mobile{
            width: 50px;
          }

          @include tablet{
            width: 70px;
          }
          

          &:focus {
            outline: none;
          }

          
        }

        .clear-search {
          cursor: pointer;
          font-size: 18px;
          color: themed("textColorSoft");
          transition: color 0.2s;

          &:hover {
            color: themed("textColor");
          }
        }

        .search-results-container {
          position: absolute;
          top: calc(100% + 5px);
          left: 0;
          width: 100%;
          z-index: 1000;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;
        background-color: themed("bg");
        padding: 5px;
        border-radius: 5px;

        @include tablet{
          // display: none;
        }
        // @include mobile {
        //   gap: 5px;
        //   flex-shrink: 0; 
        // }


        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;

          @include mobile {
            width: 20px;
            height: 20px;
          }
        }
      }

      .logout-button {
        cursor: pointer;
        padding: 8px 15px;
        border-radius: 5px;
        color: themed("textColor");
        transition: background-color 0.2s ease;
        background-color: themed("bg"); 
        
        &:hover {
          background-color: themed("bgSoft");
          opacity: 0.8;
        }
      }
    }
  }
}